# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build
/build
/dist

# Environments and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Debug & OS files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
